body{
    background-color: #fff !important;
}
.card {
    background-color: #fff !important;
    color: black !important;
    border: none;
}
.bottom {
    background-color: #dc3545;
    text-align: center;
    padding-bottom: 0%;
}
.links {
    color: #fff;
    padding: 25px;
}
.logo {
    
}